<!-- 1280 large screen  -->
 <style>
  button{
    color: black
  }
  h2{
    color: black;
  }
  h3{
    color: black;
  }
  .tabs{
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
  }
  .tabs:hover{
    transition: ease-in 200ms;
    background-color: lightblue;
  }
  button:hover{
    transition: ease-in 200ms;
    background-color: lightblue;
  }
 </style>
<nav class="navbar shadow-lg bg-white hidden xl:flex flex-col h-screen w-64 rounded-e-xl gap-0 py-2 px-2">
  <div class="flex items-center gap-2">
    <img class="w-20" src="../../../assets/logo.png" alt="logo">
    <h2>Marketplace</h2>
  </div>
  <section class="flex flex-col justify-between h-full pb-10">
    <div class="flex flex-col text-center items-center w-full">
      <img class="rounded-full w-40" src="https://firebasestorage.googleapis.com/v0/b/yardify-a22ca.firebasestorage.app/o/products%2F628af6f8-aac1-462c-a3b0-648f72f2a6b1%2F18.png?alt=media&token=522f91c2-ee64-44e2-9ada-368cfaccf228" alt="profile_pic">
      <h2 class="text-white">{{username}}</h2>
    </div>
    <div>
      <div class="tabs">
        <h3>Edit Profile</h3>
      </div>
      <div class="tabs">
        <h3>Add Listing</h3>
      </div>
      <div class="tabs">
        <h3>Messages</h3>
      </div>
      <div class="tabs">
        <h3>Favorites</h3>
      </div>
    </div>
    <div class="flex justify-center">
      <button (click)="logout()" class=" py-2 px-20 rounded-xl text-[16px] font-semibold">Log out</button>
    </div>
  </section>
</nav>
<nav class="hidden lg:flex flex-col shadow-lg bg-white h-screen w-64 rounded-e-xl gap-0 py-2 px-2">
    <div class="flex items-center gap-2">
      <img class="w-20" src="../../../assets/logo.png" alt="logo">
      <h2>Marketplace</h2>
    </div>
    <section class="flex flex-col justify-between h-full pb-10">
      <div class="flex flex-col text-center items-center w-full">
        <img class="rounded-full w-40"
          src="https://firebasestorage.googleapis.com/v0/b/yardify-a22ca.firebasestorage.app/o/products%2F628af6f8-aac1-462c-a3b0-648f72f2a6b1%2F18.png?alt=media&token=522f91c2-ee64-44e2-9ada-368cfaccf228"
          alt="profile_pic">
        <h2 class="text-white">{{username}}</h2>
      </div>
      <div>
        <div class="tabs">
          <h3>Edit Profile</h3>
        </div>
        <div class="tabs">
          <h3>Add Listing</h3>
        </div>
        <div class="tabs">
          <h3>Messages</h3>
        </div>
        <div class="tabs">
          <h3>Favorites</h3>
        </div>
      </div>
      <div class="flex justify-center">
        <button (click)="logout()" class=" py-2 px-20 rounded-xl text-[16px] font-semibold">Log out</button>
      </div>
    </section>
</nav>
