<section class="flex justify-center items-center h-screen">
  <div class="flex flex-col justify-center text-center">
    <img class="w-64 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/yardify-a22ca.firebasestorage.app/o/products%2F628af6f8-aac1-462c-a3b0-648f72f2a6b1%2F18.png?alt=media&token=522f91c2-ee64-44e2-9ada-368cfaccf228" alt="">
    <h3>Admin</h3>
    <button class="bg-blue-400 rounded-md py-2 font-semibold">Update Profile Picture</button>
  </div>
  <div class="w-[30%] h-screen flex flex-col justify-center items-center gap-4">
    <div class="tabs py-1" routerLink="/">
      <h2>Create Listing</h2>
    </div>
    <div class="tabs py-1" routerLink="/">
      <h2>Post Ads</h2>
    </div>
    <div class="tabs py-1" routerLink="/">
      <h2>Edit Account</h2>
    </div>
    <div class="tabs py-1" routerLink="/">
      <h2>Others</h2>
    </div>
  </div>
</section>