<footer class="footer">
  <div class="footer_container">
    <div class="row">
      <div class="footer-col">
        <br>
        <img style="width: 72px;" src="../../../../assets/terobytez.png" alt="">
        <h3 style="font-weight: 400;">Welcome To <br>TeroBytez</h3>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Pages</h4>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="../Services/index.html">Services</a></li>
          <li><a href="../AboutUs/index.html">About Us</a></li>
          <li><a href="../Contact Us/index.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
