<div class="carousel-container rounded-lg overflow-hidden relative w-full max-w-4xl mx-auto">
  <div class="flex transition-transform duration-500 ease-in-out"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div class="flex-shrink-0 w-full flex justify-between items-center" *ngFor="let item of items">
      <!-- Item Content -->
      <div class="flex flex-col justify-center w-1/2 p-4 md:pl-8">
        <h2 class="text-xl font-semibold text-gray-800">{{item.header}}</h2>
        <br>
        <p class="text-gray-600 mb-4">{{item.subtext}}</p>
      </div>
      <!-- Image -->
      <div class="flex justify-center w-1/2 p-4 md:p-8">
        <img class="h-56 object-contain rounded-lg" src="{{item.imageUrl}}" alt=""
          oncontextmenu="return false;" draggable="false">
      </div>
    </div>
  </div>
</div>
