<body>
  <app-navbartero></app-navbartero>
  <!-- HERO SECTION -->
  <section class="hero-section">
    <div class="hero-section-info">

      <h1 style="color: white;">Bringing Your Ideas to Life with Expert <br> Software Development</h1>
      <h4 style="color: white;">Affordable, custom software crafted to meet your unique needs. I work closely with you to
        bring your ideas to life, helping your business grow and succeed with reliable, efficient solutions.</h4>
      <div class="hero-btn-div">
        <button class="hero-btn" style="background-color: white; color: black;">Contact Us</button>
        <button class="hero-btn">What we do?</button>
      </div>
    </div>
  </section>

  <!-- Selling Section-->
  <section class="selling-point">
    <h2>Our Price</h2>
    <br>
    <div class="price-holder">
      <div class="pricing">
        <h3>Designing</h3>
        <h2><span style="vertical-align: top;">$</span>30 USD <span>/month</span></h2>
        <ul>
          <li>Custom visual designs tailored to your brand</li>
          <li>User experience (Ux) optimization for seamless interaction</li>
          <li>Multiple design revisions to match your vision</li>
          <li>Mobile-friendly and responsive layouts</li>
        </ul>
        <br>
        <button class="pricing-btn">Contact Us</button>
      </div>
      <div class="pricing">
        <h3>Development</h3>
        <h2><span style="vertical-align: top;">$</span>~70 USD <span>/month</span></h2>
        <ul>
          <li>Cutting-edge coding for fast, reliable performance</li>
          <li>Scaleable solutions for future growth</li>
          <li>Integration with third-party services and APIs</li>
          <li>Cross-platform Compatibility for websites and apps</li>
        </ul>
        <br>
        <button class="pricing-btn">Contact Us</button>
      </div>
      <div class="pricing">
        <h3>Maintenance</h3>
        <h2><span style="vertical-align: top;">$</span>50 USD <span>/month</span></h2>
        <ul>
          <li>Regular updates and security patches</li>
          <li>Ongoing performance monitoring</li>
          <li>Content updates and feature enhancements</li>
          <li>24/7 support for troubleshooting and issues</li>
        </ul>
        <br>
        <button class="pricing-btn">Contact Us</button>
      </div>
    </div>
    <br>
    <p style="color: rgb(255, 75, 75); text-decoration: underline; font-size: 14px;">These Prices may vary based on how
      large the project is</p>
  </section>
  <!-- Selling Section -->
  <br>
  <!-- REASONS -->
  <section>
    <h2>What We Offer</h2>
    <div class="reasons">
      <div class="card-one">
        <div class="card-one-img"><img src="../../../../assets/terobytez/4590468_2433706.jpg" alt=""></div>
        <div class="card-one-info">
          <h3>Search Engine Optimization</h3>
          <br>
          <p>Get your website seen with expert search engine optimization (SEO)</p>
        </div>
      </div>
      <div class="card-one">
        <div class="card-one-img"><img class="h-[200px] object-cover" src="../../../../assets/terobytez/30576711_7706584.jpg" alt=""></div>
        <div class="card-one-info">
          <h3>Responsive Design for Web & Mobile</h3>
          <br>
          <p>Ensure your website looks great with responsive design for web and mobile.</p>
        </div>
      </div>
      <div class="card-one">
        <div class="card-one-img"><img src="../../../../assets/terobytez/11906561_4853557.jpg" alt=""></div>
        <div class="card-one-info">
          <h3>Maintenance & Updates</h3>
          <br>
          <p>Keep your apps and websites running smoothly with reliable maintenance and updates.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- REASONS -->
  <br>
  <!-- WHY CHOOSE US -->
  <section>

  </section>
<!-- FAQ -->
<section class="card">
  <h2 class="title">FAQ</h2>
  <div class="acc-container">
    <div *ngFor="let faq of faqs; let i = index" class="faq-item">

      <button class="acc-btn" (click)="toggleFaq(i)">
        {{ faq.question }}
      </button>

      <div class="acc-content" [style.maxHeight]="faq.isOpen ? '1000px' : '0'"
        style="overflow: hidden; transition: max-height 0.3s ease;">
        <p>{{ faq.answer }}</p>
      </div>

    </div>
  </div>
</section>
<!-- FAQ -->
  <br><br>
  <!-- Consultation -->
  <section class="consultation">
    <div>
      <div>
        <h2>Start Your Journey Today</h2>
        <br>
        <h4 style="font-size: 14px;">Schedule a <span style="color: red;">FREE</span> consultation and start growing your business today! <br>
          <br>Remember, technology is the key to expanding your reach. Today, you’re connecting with 1,000 people —
          <br>tomorrow, that number could be 10,000! Let us help you make it happen.</h4>
      </div>
      <div>
        <button class="consult_btn">
          <h3>Schedule Now!</h3>
        </button>
      </div>
    </div>
  </section>
  <app-footertero></app-footertero>
</body>
