@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Quicksand", sans-serif;
  --app-bg: #fff;
  --modal-before: rgba(215, 215, 215, .5);
  --main-font-color: #fff;
  --light-font-color: #becaca;
  --main-border-color: #f3f3f3;
  --secondary-border-color: #faeceb;
  --button-bg-light: #f3f3f3;
  --cards-area-bg: #f4f4f6;
  --cards-bg: #fff;
  --buttons-color-primary: #d84851;
  --buttons-color-secondary: #f8e4e5;
  --filter-bg: #fff;
  --search-bg: #838383;
  --darktheme-bg: #151515;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-typography h3, .mat-typography h2, .mat-typography p{
  margin: 0px;
}
